* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.932);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

input,
button,
textarea,
select {
  font: inherit;
}

.instructions-container {
  width: 350px;
  margin-bottom: 1rem;
}

.instructions-container p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.button-92 {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    #ad062a;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}

.button-92:hover,
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-92:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
}

.button-92 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}

#container {
  display: inline-grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border: 2px solid rgb(248, 6, 6);
  width: 400px;
  height: 400px;
}

.square {
  background-color: rgb(41, 40, 40);
}

#container div:hover {
  background-color: lightgray;
}

.hovered {
  background-color: rgb(87, 84, 84);
}
